.sprite {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .sprite {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.sprites__facebook {
  width: 40px;
  height: 40px;
  background-position: -0px -60px; }

.sprites__instagram {
  width: 40px;
  height: 40px;
  background-position: -40px -60px; }

.sprites__kakaotalk {
  width: 40px;
  height: 40px;
  background-position: -80px -60px; }

.sprites__right--black {
  width: 7px;
  height: 12px;
  background-position: -360px -30px; }

.sprites__back {
  width: 24px;
  height: 21px;
  background-position: -280px -60px; }

.sprites__delete {
  width: 16px;
  height: 16px;
  background-position: -110px -0px; }

.sprites__garbagecan {
  width: 15px;
  height: 15px;
  background-position: -90px -0px; }

.sprites__cart {
  width: 15px;
  height: 14px;
  background-position: -50px -0px; }

.sprites__left {
  width: 7px;
  height: 12px;
  background-position: -310px -60px; }

.sprites__right {
  width: 7px;
  height: 12px;
  background-position: -330px -60px; }

.sprite {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .sprite {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.sprites__facebook {
  width: 40px;
  height: 40px;
  background-position: -0px -60px; }

.sprites__instagram {
  width: 40px;
  height: 40px;
  background-position: -40px -60px; }

.sprites__kakaotalk {
  width: 40px;
  height: 40px;
  background-position: -80px -60px; }

.sprites__right--black {
  width: 7px;
  height: 12px;
  background-position: -360px -30px; }

.sprites__back {
  width: 24px;
  height: 21px;
  background-position: -280px -60px; }

.sprites__delete {
  width: 16px;
  height: 16px;
  background-position: -110px -0px; }

.sprites__garbagecan {
  width: 15px;
  height: 15px;
  background-position: -90px -0px; }

.sprites__cart {
  width: 15px;
  height: 14px;
  background-position: -50px -0px; }

.sprites__left {
  width: 7px;
  height: 12px;
  background-position: -310px -60px; }

.sprites__right {
  width: 7px;
  height: 12px;
  background-position: -330px -60px; }

.typo_title_jumbo_bold {
  font-family: 'NanumSquare', sans-serif;
  font-size: 21px;
  letter-spacing: -0.02em;
  font-weight: 800; }

.typo_title {
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em; }

.typo_title_bold {
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800; }

.typo_title_small_bold {
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-weight: 800; }

.typo_title_small {
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em; }

.typo_title_smaller {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em; }

.typo_title_smaller_bold {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 800; }

.typo_title_tiny {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em; }

.typo_title_tiny_bold {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  font-weight: 800; }

.typo_content_jumbo_bold {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 21px;
  letter-spacing: 0em;
  font-weight: 700; }

.typo_content_big {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: 0em; }

.typo_content_big_bold {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: -0.05em;
  font-weight: 700; }

.typo_content {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em; }

.lh_content {
  line-height: 24px; }

.typo_content_bold {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  font-weight: 700; }

.typo_content_small {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em; }

.lh_content_small {
  line-height: 21px; }

.typo_content_small_bold {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 700; }

.typo_content_tiny {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 12px;
  letter-spacing: -0.05em; }

.typo_content_tiny__bold {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 12px;
  letter-spacing: -0.05em;
  font-weight: 700; }

.color_green {
  color: #28D899; }

.color_red {
  color: #ff7777; }

.color_yellow {
  color: #FEEB87; }

.color_palesky {
  color: #EBF6FF; }

.color_white {
  color: #fff; }

.color_white5 {
  color: rgba(255, 255, 255, 0.5); }

.color_white3 {
  color: rgba(255, 255, 255, 0.3); }

.color_black {
  color: #000; }

.color_black5 {
  color: #2F2F2F; }

.color_black4 {
  color: #444444; }

.color_black3 {
  color: #636363; }

.color_black2 {
  color: #979797; }

.color_black1 {
  color: #C4C4C4; }

.color_grey6 {
  color: #BECBD1; }

.color_grey5 {
  color: #CED8DD; }

.color_grey4 {
  color: #DFE5E8; }

.color_grey3 {
  color: #EEF2F3; }

.color_grey2 {
  color: #F5F7F8; }

.color_grey1 {
  color: #F9FAFB; }

html, body {
  width: 100%;
  height: 100%; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer; }

.container {
  margin-left: 10px;
  margin-right: 10px; }

body {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1;
  color: #2F2F2F; }

a {
  text-decoration: none;
  color: #28D899;
  color: #2F2F2F;
  cursor: pointer; }

.hidden_text {
  display: inline-block;
  text-indent: -9999em;
  outline: none; }

hr {
  margin: 0;
  border-style: solid; }

input {
  border: none;
  outline: none; }

input::-webkit-input-placeholder {
  color: #C4C4C4; }

input:-ms-input-placeholder {
  color: #C4C4C4; }

textarea::-webkit-input-placeholder {
  color: #C4C4C4; }

textarea:-ms-input-placeholder {
  color: #C4C4C4; }

.hidden {
  display: none; }

input[type=checkbox] {
  opacity: 0; }

input[type=checkbox] + label {
  position: relative;
  margin-left: 2px; }

input[type=checkbox] + label:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: -23px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #CED8DD;
  background: #F9FAFB;
  border-radius: 3px; }

input[type=checkbox] + label:after {
  content: "";
  position: absolute;
  z-index: 3;
  left: -19px;
  top: calc(50% + 1px);
  transform: translateY(-50%);
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 10px;
  height: 10px;
  background-position: -250px 0px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    input[type=checkbox] + label:after {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

input[type=checkbox]:checked + label:before {
  border: 1px solid #28D899;
  background: #28D899; }

input[type=checkbox]:checked + label:after {
  background-position-y: -15px; }

.list__container {
  margin-bottom: 10px; }

.list__container--horizontal {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 5px; }

.list__item--horizontal {
  display: flex;
  margin-top: 10px; }

.list__container--wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.list__item--vertical {
  margin: 10px 0px 0 10px; }

.list__item__image__container {
  position: relative; }

.list__item__left {
  width: 50%;
  margin-right: 10px; }

.list__item__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1; }

.list__item__up {
  margin-bottom: 10px; }

.list__item__image {
  width: 100%;
  border-radius: 3px; }

.list__item__image__container--new {
  width: 60vw; }

.list__item--vertical--50 {
  width: 45vw;
  margin: 10px 0; }

.list__item__sale {
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  position: absolute;
  left: 10px;
  top: 10px;
  background: #ff7777;
  color: #fff;
  padding: 5px 6px 4px;
  box-sizing: border-box;
  border-radius: 3px; }

.list__item__title {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  margin-bottom: 7px; }

.list__item__desc {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 12px;
  letter-spacing: -0.05em;
  margin-bottom: 10px;
  color: #636363; }

.list__item__rows--wrap {
  display: flex;
  flex-wrap: wrap; }

.list__item__row_container {
  margin-bottom: 2px; }

.list__item__row_container--buttons {
  margin-top: 5px; }

.list__item__saleprice {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: -0.05em;
  font-weight: 700;
  margin-right: 5px;
  color: #000; }

.list__item__price {
  color: #979797;
  text-decoration: line-through; }

.list__item__button--basket {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 15px;
  height: 14px;
  background-position: -50px -0px;
  margin-right: 5px;
  display: inline-block; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .list__item__button--basket {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.list__item__button--like {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 15px;
  height: 14px;
  background-position: -70px -0px;
  display: inline-block; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .list__item__button--like {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.list__item__button--like.js-active {
  width: 15px;
  height: 14px;
  background-position: -50px -40px; }

.list__item__button--float {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.list__item__percent {
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #28D899; }

.list__item__tag {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  padding: 3px 4px 2px;
  box-sizing: border-box;
  border-radius: 3px;
  color: #fff; }

.list__item__tag--soldout {
  background: #C4C4C4; }

.list__item__tag--new {
  background: #28D899; }

.list__item__tag--hot {
  background: #ff7777; }

.listitem__left {
  margin-right: 10px; }

.list__more {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  font-weight: 800;
  float: right;
  color: #ff7777; }

.list__item__row_container--between {
  display: flex;
  justify-content: space-between; }

.js-search--result--1line .list__container {
  margin-bottom: 0px; }

.js-search--result--1line .list__item {
  display: flex;
  margin-top: 10px;
  margin-top: 0px;
  padding: 20px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #EEF2F3; }

.js-search--result--1line .list__item__image__container {
  width: 30%; }

.js-search--result--2column .list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px; }

.js-search--result--2column .list__item {
  margin: 10px 0px 0 10px;
  width: 45vw;
  margin: 10px 0; }

.js-search--result--2column .list__item__image__container {
  width: 100%;
  margin-bottom: 10px; }

.js-search--result--2column .list__item__buttons {
  order: 2; }

.js-search--result--2column .list__item__price__container {
  order: 1; }

.row--flex {
  display: flex;
  align-items: center; }

.row {
  display: flex;
  align-items: center;
  margin: 0 10px 5px; }

.row--between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.button--100--grey {
  width: 100%;
  padding: 12px 0;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: 0em;
  color: #fff;
  background: #C4C4C4;
  border: 1px solid #C4C4C4;
  border-radius: 3px; }

.button-100--green {
  width: 100%;
  padding: 12px 0;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: 0em;
  color: #fff;
  background: #28D899;
  border: 1px solid #28D899;
  border-radius: 3px; }

.button--big--white {
  width: 50%;
  padding: 12px 0;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: 0em;
  color: #28D899;
  background: #fff;
  border: 1px solid #28D899;
  border-radius: 3px; }

.button--big--green {
  width: 45%;
  padding: 12px 0;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: 0em;
  color: #fff;
  background: #28D899;
  border: 1px solid #28D899;
  border-radius: 3px; }

.button--small--grey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  padding: 7px 0;
  box-sizing: border-box;
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #444444;
  background: #fff;
  border: 1px solid #CED8DD;
  border-radius: 3px; }

.dimmed_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(47, 47, 47, 0.5); }

.before_arrow {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 24px;
  height: 21px;
  background-position: -180px -60px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .before_arrow {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.input--big {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #636363;
  background: #fff;
  border: 1px solid #DFE5E8;
  border-radius: 3px; }

.image {
  width: 100%; }

.imagecontainer--35 {
  display: inline-block;
  border-radius: 3px;
  width: 35%; }

.layer_search,
.layer_cart,
.layer_option,
.layer_login,
.layer_join,
.layer_cart,
.layer_like {
  display: none; }

.js-search-opened .content,
.js-cart-opened .content {
  display: none; }

.js-search-opened .layer_search,
.js-cart-opened .layer_cart,
.js-option-opened .layer_option,
.js-left-opened .layer_left,
.js-login-opened .layer_login,
.js-join-opened .layer_join,
.js-cart-opened .layer_cart,
.js-like-opened .layer_like {
  display: block; }

.js-option-opened,
.js-left-opened,
.js-login-opened {
  position: fixed; }

section {
  margin-top: 20px; }

.header__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; }

.header__upper__menu_btn {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 18px;
  height: 13px;
  background-position: -250px -60px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .header__upper__menu_btn {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.header__upper__logo {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 140px;
  height: 30px;
  background-position: 0px -140px;
  display: block; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .header__upper__logo {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.header__upper__search_btn {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 24px;
  height: 23px;
  background-position: -330px -30px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .header__upper__search_btn {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.header__nav__container {
  background: #F5F7F8; }

.header__nav {
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  overflow-x: scroll; }

.header__nav a {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #000; }

.header__nav .js-active a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #28D899; }

.main_banner {
  margin: 0; }

.swiper-container {
  position: relative;
  width: 100%;
  height: 100%; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  left: 10px;
  bottom: 10px;
  text-align: left; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 3px;
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.3); }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #fff; }

.main_category__title {
  margin-top: 10px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #000; }

.main_category__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px; }

.main_category__item {
  margin-bottom: 5px;
  width: 23%;
  border-radius: 100%; }

.main_category__image {
  width: 100%; }

.main_sale__title {
  margin-top: 10px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #000; }

.main_new__title {
  margin-top: 10px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #000; }

.main_banner2__container {
  display: flex; }

.main_banner2__desc__container {
  background: #EBF6FF;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.main_banner2__image__container {
  width: 50%; }

.main_banner2__image {
  width: 100%; }

.main_banner2__desc__title {
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 21px; }

.main_banner2__desc__button {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-top: 10px;
  background: #28D899;
  padding: 5px 7px 4px;
  color: #fff;
  border-radius: 3px; }

.main_banner3__container {
  display: flex;
  align-items: center;
  padding: 30px 0;
  background: #FEEB87; }

.main_banner3__desc__container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.main_banner3__desc__subtitle {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 5px; }

.main_banner3__desc__title {
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  font-size: 21px; }

.main_banner3__button__container {
  flex: 1;
  display: flex;
  justify-content: center; }

.main_banner3__button {
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  padding: 5px 7px;
  background: #ff7777;
  color: #fff;
  border-radius: 3px; }

.main_hot {
  margin-top: 30px; }

footer {
  margin-top: 30px; }

.footer_nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  border-top: #28D899 1px solid;
  border-bottom: #28D899 1px solid; }

.footer_nav__item {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em; }

.footer_social {
  display: flex;
  justify-content: center; }

.footer_social__item {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  display: inline-block;
  margin: 25px 10px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .footer_social__item {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.footer_social__item--facebook {
  width: 40px;
  height: 40px;
  background-position: -0px -60px; }

.footer_social__item--instagram {
  width: 40px;
  height: 40px;
  background-position: -40px -60px; }

.footer_social__item--kakaotalk {
  width: 40px;
  height: 40px;
  background-position: -80px -60px; }

.footer_copy {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border-top: #C4C4C4 1px solid;
  color: #636363; }

.layer_search__header {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  width: 100%;
  box-sizing: border-box;
  background: #28D899; }

.layer_search__back {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 24px;
  height: 21px;
  background-position: -280px -60px;
  margin-right: 15px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_search__back {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.layer_search__input__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 80%;
  width: 90%;
  flex: 1;
  border-radius: 3px;
  background: #fff;
  height: 42px;
  padding: 8px 10px 8px 15px;
  box-sizing: border-box; }

.layer_search__input {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  width: 80%;
  flex: 1;
  height: 24px;
  line-height: 24px; }

.layer_search__input__delete {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 16px;
  height: 16px;
  background-position: -110px -0px;
  margin-left: 10px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_search__input__delete {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.layer_search__input__search {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 24px;
  height: 23px;
  background-position: -330px -30px;
  margin-left: 10px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_search__input__search {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.layer_search__beforelist {
  margin: 0 15px; }

.layer_search__beforelist__item {
  padding: 20px 15px;
  border-bottom: 1px solid #DFE5E8; }

.layer_search__beforelist__item__text {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  color: #636363; }

.layer_search__result {
  display: none; }

.layer_search__beforelist,
.layer_search__result {
  display: none; }

.js-search--search .layer_search__beforelist {
  display: block; }

.js-search--result--1line .layer_search__result,
.js-search--result--2column .layer_search__result {
  display: block; }

.layer_search__result__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  background: #F5F7F8; }

.layer_search__result__view--list {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 25px;
  height: 20px;
  background-position: -270px -0px;
  display: inline-block; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_search__result__view--list {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.layer_search__result__view--thumb {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 25px;
  height: 20px;
  background-position: -300px -0px;
  display: inline-block;
  margin-left: 5px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_search__result__view--thumb {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.js-search--result--1line .layer_search__result__view--list {
  background-position-y: -30px; }

.js-search--result--2column .layer_search__result__view--thumb {
  background-position-y: -30px; }

.ui-selectmenu-button.ui-button {
  position: relative;
  width: 88px;
  height: 30px;
  background: #fff;
  border: none; }

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon,
.ui-button .ui-icon,
.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 12px;
  height: 7px;
  background-position: -380px -0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .ui-state-hover .ui-icon,
    .ui-state-focus .ui-icon,
    .ui-button:hover .ui-icon,
    .ui-button:focus .ui-icon,
    .ui-button .ui-icon,
    .ui-state-active .ui-icon,
    .ui-button:active .ui-icon {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.ui-selectmenu-text {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #636363; }

.ui-widget-content .ui-state-active {
  background-color: #28D899;
  border-color: #28D899; }

.layer_left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  overflow-y: scroll;
  z-index: 3;
  transition: left 0.7s, right 0.7s; }

.layer_left.js-active {
  left: 0;
  right: 0; }

.layer_left__dimmed__container {
  position: relative;
  min-height: 100%; }

.layer_left__content {
  position: relative;
  z-index: 3;
  width: 85%;
  padding-bottom: 17px;
  min-height: 100vh;
  box-sizing: border-box;
  background: #fff; }

.layer_left__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 100%;
  top: 0;
  width: 40px;
  height: 40px;
  background: #fff; }

.layer_left__close--icon {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 20px;
  height: 20px;
  background-position: -130px -60px;
  display: inline-block; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_left__close--icon {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.layer_left__logo__container {
  padding: 20px 0 5px;
  text-align: center; }

.layer_left__logo {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 30px;
  height: 53px;
  background-position: 0px 0px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_left__logo {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.layer_left__buttons {
  padding: 17px;
  border-bottom: 1px solid #EEF2F3; }

.layer_left__button {
  width: 48%;
  padding: 10px 0; }

.layer_left__menu {
  justify-content: space-around;
  align-items: center;
  padding: 17px 0;
  border-bottom: 1px solid #EEF2F3; }

.layer_left__menu__item {
  display: flex;
  flex-direction: column;
  align-items: center; }

.layer_left__menu__item__icon {
  display: inline-block;
  margin-bottom: 10px;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_left__menu__item__icon {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.layer_left__menu__item__icon--mypage {
  width: 40px;
  height: 30px;
  background-position: 0px -100px; }

.layer_left__menu__item__icon--cart {
  width: 40px;
  height: 30px;
  background-position: -40px -100px; }

.layer_left__menu__item__icon--order {
  width: 40px;
  height: 30px;
  background-position: -80px -100px; }

.layer_left__menu__item__icon--likelist {
  width: 40px;
  height: 30px;
  background-position: -120px -100px; }

.layer_left__menu__item__title {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #2F2F2F; }

.layer_left__submenu__item {
  padding: 15px 15px;
  border-bottom: 1px solid #EEF2F3; }

.layer_left__submenu__item__left {
  margin: 0; }

li:last-child .layer_left__submenu__item {
  padding-bottom: 10px;
  border-bottom: none; }

.layer_left__submenu__item__icon {
  display: inline-block;
  margin-right: 2px;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_left__submenu__item__icon {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.layer_left__submenu__item__icon--new {
  width: 20px;
  height: 20px;
  background-position: -150px -0px; }

.layer_left__submenu__item__icon--recommend {
  width: 20px;
  height: 20px;
  background-position: -170px -0px; }

.layer_left__submenu__item__icon--hot {
  width: 20px;
  height: 20px;
  background-position: -190px -0px; }

.layer_left__submenu__item__icon--sale {
  width: 20px;
  height: 20px;
  background-position: -210px -0px; }

.layer_left__submenu__item__icon--category {
  width: 20px;
  height: 20px;
  background-position: -230px -0px; }

.layer_left__submenu__item__title {
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #2F2F2F; }

.layer_left__submenu__item__right {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 12px;
  height: 21px;
  background-position: -160px -60px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_left__submenu__item__right {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.layer_left__submenu__item__arrow {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 21px;
  height: 12px;
  background-position: -350px -60px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_left__submenu__item__arrow {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.layer_left__submenu__item--category.js-folded .layer_left__submenu__item__arrow {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 21px;
  height: 12px;
  background-position: -380px -60px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_left__submenu__item--category.js-folded .layer_left__submenu__item__arrow {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.layer_left__categories {
  padding: 0px 7px 7px;
  text-align: center; }

.layer_left__category {
  padding: 12px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em; }

.layer_left__category:first-child {
  padding-top: 0px; }

.layer_left_notice_buttons {
  position: relative;
  display: flex; }

@media all and (min-height: 800px) {
  .layer_left_notice_buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; } }

.layer_left_notice_buttons:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background: #CED8DD; }

.layer_left_notice_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 15px 0;
  box-sizing: border-box;
  background: #F5F7F8;
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #444444; }

.layer_login {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background: #fff; }

.layer_login__container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center; }

.layer_login__before__contaiiner,
.layer_join__before__contaiiner {
  margin: 15px;
  text-align: left; }

.layer_login__error {
  text-align: left;
  margin-left: 50px;
  margin-bottom: 10px; }

.layer_login__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0 25px; }

.layer_login__logo--image {
  display: inline-block;
  margin-bottom: 22px;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 30px;
  height: 53px;
  background-position: 0px 0px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_login__logo--image {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.layer_login__logo--text {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 140px;
  height: 30px;
  background-position: 0px -140px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_login__logo--text {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.layer_login__input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.layer_login__input__container {
  margin-bottom: 15px; }

.layer_login__form {
  margin-bottom: 27px; }

.layer_login__button {
  width: 75%; }

.layer_login__links {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  text-align: left; }

.layer_login__link:first-child {
  margin-bottom: 18px; }

.layer_login__sns {
  position: relative;
  margin-top: 40px; }

.layer_login__sns__links {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto; }

.typo_title_tiny_bold {
  margin-top: 22px; }

.layer_login__sns {
  padding-bottom: 25px; }

.layer_login__sns__line {
  position: absolute;
  bottom: 0;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  border-color: #DFE5E8; }

.typo_title_small_bold {
  margin-top: 25px; }

.layer_join {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background: #fff; }

.layer_join__header {
  display: flex;
  justify-content: center;
  align-items: center; }

.layer_join__header__item {
  width: 50%;
  padding: 0 0 15px;
  box-sizing: border-box;
  text-align: center; }

.js-basic .layer_join__header__item--basic {
  color: #000;
  border-bottom: 2px solid #28D899; }

.layer_join__basic,
.layer_join__additional {
  padding-top: 60px;
  width: 83%;
  margin: 0 auto; }

.layer_join__input {
  padding: 10px 5px;
  border-bottom: 1px solid #DFE5E8;
  box-sizing: border-box;
  width: 100%; }

.layer_join__desc {
  margin: 10px 0 30px; }

.layer_join__terms {
  margin-top: 10px;
  padding: 10px 13px;
  background: #F9FAFB; }

.layer_join__term {
  margin: 10px 0 10px; }

.layer_join__error--terms {
  margin-top: 5px; }

.layer_join__button {
  position: absolute;
  bottom: 0; }

.js-basic-error .layer_join__button {
  width: 100%;
  padding: 12px 0;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: 0em;
  color: #fff;
  background: #C4C4C4;
  border: 1px solid #C4C4C4;
  border-radius: 3px; }

.js-additional .layer_join__header__item--additional {
  color: #000;
  border-bottom: 2px solid #28D899; }

.layer_join__basic,
.layer_join__additional {
  display: none; }

.js-basic .layer_join__basic,
.js-additional .layer_join__additional {
  display: block; }

.layer_join__title {
  margin-bottom: 10px; }

.layer_join__textarea {
  padding: 10px 5px;
  border: 1px solid #DFE5E8;
  box-sizing: border-box;
  width: 100%;
  height: 300px; }

.layer_join__welcome {
  margin-top: 30px;
  text-align: center; }

.layer_cart {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  overflow-y: scroll;
  background: #fff; }

.layer_upper__header {
  padding: 15px;
  background: #28D899; }

.layer_upper__before__title {
  flex: 1;
  text-align: center; }

.layer_list__operation {
  padding: 5px 20px;
  background: #F5F7F8; }

.layer_list__item {
  margin: 10px 20px;
  border-bottom: 1px solid #EEF2F3; }

.layer_list__item__checkbox {
  margin-bottom: 10px; }

.layer_list__changeoption {
  width: 67px;
  height: 27px; }

.layer_list__number {
  margin-top: 20px;
  padding: 15px 20px 20px 10px;
  background: #F9FAFB; }

.layer_list_number__sum {
  margin-top: 30px;
  text-align: right; }

.layer_list__item__buttons {
  padding: 15px 0 20px; }

.layer_list__item__button {
  width: 67px;
  height: 27px;
  margin-right: 10px; }

.layer_cart__summary {
  position: relative;
  margin-top: 30px; }

.layer_cart__summary:after {
  content: '';
  position: absolute;
  z-index: -1;
  background: #EBF6FF;
  left: 0px;
  right: 0px;
  bottom: 0;
  height: 55px; }

.layer_cart__summary__item {
  width: 80%;
  margin: 10px auto; }

.layer_cart__summary__item__tilte {
  width: 40%;
  text-align: right; }

.layer_cart__summary__item__content {
  width: 70%;
  text-align: right; }

.layer_cart__summary__item__sum {
  padding: 0px 20px 20px; }

.layer_list__buttons {
  margin-top: 30px; }

.layer_list__buttons .button--big--white {
  width: 48%; }

.layer_list__buttons .button--big--green {
  width: 48%; }

.layer_like {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  overflow-y: scroll;
  background: #fff; }

.layer_like__row {
  margin-bottom: 20px; }

.layer_like__iconbutton {
  margin-right: 8px; }

.layer_list__pagination {
  padding: 30px;
  margin: 0 auto;
  width: 30%; }

.layer_list__pagination__number {
  margin: 0 5px 0; }

.layer_list__pagination__number.js-active {
  color: #000; }

.product_detail__summary {
  display: none; }

.product_detail__detail {
  display: none; }

.product_detail__review {
  display: none; }

.product_detail__qa {
  display: none; }

.js-content--summary .product_detail__summary {
  display: block; }

.js-content--detail .product_detail__detail {
  display: block; }

.js-content--review .product_detail__review {
  display: block; }

.js-content--qa .product_detail__qa {
  display: block; }

.product_detail {
  margin-bottom: 20px; }

.bread_scrumbs {
  margin: 0 10px 10px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #979797; }

.product_detail__title {
  margin: 10px 10px 7px;
  line-height: 24px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em; }

.product_detail__row {
  margin: 3px 10px; }

.product_detail__item__price {
  color: #979797;
  text-decoration: line-through; }

.product_detail__item__percent {
  margin-left: 5px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #28D899;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  font-weight: 700; }

.product_detail__item__saleprice {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: -0.05em;
  font-weight: 700;
  color: #000;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 21px;
  letter-spacing: 0em;
  font-weight: 700; }

.product_detail__item__share {
  margin-right: 10px;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 19px;
  height: 20px;
  background-position: -170px -20px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .product_detail__item__share {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.product_detail__item__saletime {
  margin-top: 10px; }

.product_detail__item__saletime__title {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #444444; }

.product_detail__item__saletime__icon {
  display: inline-block;
  margin: 0 3px;
  margin-left: 7px;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 16px;
  height: 16px;
  background-position: -150px -20px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .product_detail__item__saletime__icon {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.product_detail__item__saletime__time {
  margin-left: 5px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #ff7777; }

.product_detail__menu {
  background: #F5F7F8; }

.product_detail__menu__container {
  display: flex;
  justify-content: space-around; }

.product_detail__menu__item {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  box-sizing: border-box;
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #000; }

.js-active.product_detail__menu__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #28D899; }

.product_detail__row {
  padding: 10px 0;
  border-bottom: 1px solid #EEF2F3; }

.product_detail__summary .product_detail__row:last-child {
  border-bottom: none; }

.product_detail__icon {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .product_detail__icon {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.product_detail__icon--price {
  width: 20px;
  height: 20px;
  background-position: -50px -20px; }

.product_detail__icon--coupon {
  width: 20px;
  height: 20px;
  background-position: -70px -20px; }

.product_detail__icon--summary {
  width: 20px;
  height: 20px;
  background-position: -90px -20px; }

.product_detail__icon--global {
  width: 20px;
  height: 20px;
  background-position: -110px -20px; }

.product_detail__icon--express {
  width: 20px;
  height: 20px;
  background-position: -130px -20px; }

.product_detail__summary {
  margin-top: 5px; }

.product_detail__row__container--title {
  margin-bottom: 5px; }

.product_detail__row__container--price {
  margin-bottom: 0px; }

.product_detail__rowtitle {
  margin-left: 2px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #000; }

.product__price {
  color: #979797;
  text-decoration: line-through; }

.product__salepercent {
  margin-left: 7px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #28D899; }

.product__saleprice {
  margin-top: 2px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: -0.05em;
  font-weight: 700;
  color: #000;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 21px;
  letter-spacing: 0em;
  font-weight: 700; }

.product__couponprice {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: -0.05em;
  font-weight: 700;
  color: #000; }

.product__couponperiod {
  margin-left: 1px; }

.product__coupondown {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #ff7777; }

.product_detail__summary__paragraph {
  margin: 0 10px;
  line-height: 21px; }

.product_detail__icon--question {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  background-position: -130px -0px; }

.product_detail__notice {
  padding: 20px 15px;
  margin-bottom: 20px;
  background: #F5F7F8;
  border-radius: 3px; }

.product_detail__notice__title {
  margin-bottom: 15px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #000; }

.product_detail__notice__paragraph {
  line-height: 21px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 12px;
  letter-spacing: -0.05em; }

.product_detail__buttons__container {
  display: flex;
  justify-content: space-between; }

.product_detail__buttons__order {
  width: 240px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background: #28D899;
  border-radius: 3px; }

.product_detail__buttons__order__text {
  color: #fff; }

.product_detail__buttons__icon {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .product_detail__buttons__icon {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.product_detail__buttons__small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #C4C4C4;
  margin-left: 20px;
  border-radius: 3px; }

.product_detail__buttons__icon--order {
  width: 40px;
  height: 30px;
  background-position: -40px -100px; }

.product_detail__buttons__icon--like {
  width: 32px;
  height: 30px;
  background-position: -210px -60px; }

.product_detail__detail__image {
  margin-bottom: 30px;
  width: 100%; }

.product_detail__detail__desc {
  text-align: center; }

.product_detail__detail__desc__subtitle {
  margin-bottom: 10px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em; }

.product_detail__detail__desc__title {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 21px;
  letter-spacing: 0em;
  font-weight: 700;
  font-size: 27px; }

.product_detail__detail__row--small {
  margin-bottom: 30px; }

.product_detail__detail__row {
  margin-bottom: 45px; }

.product_detail__paragraph {
  margin-bottom: 30px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 21px; }

.product_detail__detail__image__container--40 {
  width: 50%; }

.product_detail__detail__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px; }

.product_detail__detail__content__image {
  width: 100%; }

.product_detail__detail__content__desc {
  margin-left: 30px; }

.product_detail__detail__content__container {
  margin-bottom: 15px; }

.product_detail__detail__content__container:last-child {
  margin-bottom: 0px; }

.product_detail__detail__content__icon {
  display: inline-block;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #444444; }

.product_detail__detail__content__title__container {
  display: flex;
  align-items: center;
  margin-bottom: 5px; }

.product_detail__detail__content__title {
  display: inline-block;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em; }

.product_detail__detail__content__text {
  margin-left: 15px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em; }

.product_detail__detail__desc__title {
  margin-bottom: 15px; }

.product_detail__detail__desc {
  margin-bottom: 30px; }

.product_detail__detail__resource__desc {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 21px; }

.product_detail__detail__resource__desc__title {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 24px; }

.product_detail__detail__resource__desc--highlight {
  line-height: 21px;
  margin-bottom: 65px;
  color: #ff7777;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em; }

.product_detail__detail__resource__desc--dimmed {
  margin-bottom: 20px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 12px;
  letter-spacing: -0.05em;
  line-height: 21px;
  color: #979797; }

.product_detail__detail__resource__desc__container {
  margin-bottom: 65px; }

.product_detail__notice__paragraph--big {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 21px; }

.product_detail__notice__paragraph--big em {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 700; }

.product_detail__table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 30px 120px; }

.product_detail__table__item {
  width: 80%;
  padding: 15px 0;
  border-bottom: 1px solid #EEF2F3; }

.product_detail__table__title {
  display: inline-block;
  width: 100px;
  margin-right: 70px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #979797; }

.product_detail__table__text {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #636363; }

.product_detail__review {
  margin: 10px 10px 30px; }

.product_detail__review__list__item {
  padding: 20px 10px;
  border-bottom: 1px solid #EEF2F3; }

.product_detail__review__list__item__title {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: -0.05em;
  font-weight: 700; }

.product_detail__review__list__item__row {
  display: flex;
  align-items: center;
  margin-bottom: 7px; }

.product_detail__review__list__item__grade {
  display: flex;
  margin-right: 10px; }

.product_detail__review__list__item__grade__item {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 18px;
  height: 18px;
  background-position: -400px -0px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .product_detail__review__list__item__grade__item {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.product_detail__review__list__item__grade__item.js-active {
  background-position-y: -30px; }

.product_detail__review__list__item__subdesc {
  margin-top: 4px;
  margin-right: 10px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 12px;
  letter-spacing: -0.05em;
  color: #979797; }

.product_detail__review__list__item__paragraph {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #000; }

.product_detail__review__pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center; }

.product_detail__review__pagination__left {
  margin-right: 20px;
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 7px;
  height: 12px;
  background-position: -310px -60px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .product_detail__review__pagination__left {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.product_detail__review__pagination__right {
  margin-left: 20px;
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 7px;
  height: 12px;
  background-position: -330px -60px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .product_detail__review__pagination__right {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.product_detail__review__pagination__pages {
  display: flex;
  justify-content: space-between;
  width: 80px; }

.product_detail__review__pagination__pages__page {
  color: #636363; }

.product_detail__review__pagination__pages__page.js-active {
  color: #28D899; }

.product_detail__qa {
  margin: 10px 10px 30px; }

.product_detail__related {
  margin: 40px 0px; }

.layer_option {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.layer_option__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2; }

.layer_option__content__line {
  margin-bottom: 10px;
  width: 46px;
  height: 8px;
  background: #F5F7F8;
  border-radius: 3px; }

.layer_option__content__container {
  width: 100%;
  box-sizing: border-box;
  background: #F5F7F8; }

.layer_option__content__text__container {
  padding: 20px 15px 0; }

.layer_option__title {
  margin-bottom: 20px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #2F2F2F; }

#layer_option__select-button {
  margin-bottom: 15px;
  width: 90%;
  border: 1px solid #C4C4C4; }

.layer_option__number_updown {
  margin-bottom: 25px; }

.number_updown {
  display: flex; }

.number_updown__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 21px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #636363; }

.number_updown__input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  box-sizing: border-box;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #636363; }

.number_updown__text {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  font-weight: 700;
  color: #000; }

.layer_option__buttons {
  padding: 0 10px 25px; }

.list__bread_scrumbs {
  margin-top: 15px; }

.mypage__profile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #EEF2F3; }

.mypage__profile {
  width: 90%;
  max-width: 400px;
  padding-bottom: 20px; }

.mypage__profile_image__container {
  margin: 0px 20px 0px 0px;
  width: 17vw;
  border: 1px solid #EEF2F3;
  border-radius: 3px; }

.mypage__profile_image {
  width: 100%; }

.mypage__profile__text {
  padding: 13px 0; }

.mypage__profile__username {
  margin-bottom: 7px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #28D899; }

.mypage__profile__userclass {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #444444; }

.mypage__modify_buttons {
  display: flex;
  flex-direction: column; }

.mypage__modify_buttons .button--small--grey:first-child {
  margin-bottom: 2px; }

.mypage__points {
  padding: 15px 0px;
  border-bottom: 1px solid #EEF2F3; }

.mypage__point {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 35%;
  box-sizing: border-box;
  border-right: 1px solid #EEF2F3; }

.mypage__point:last-child {
  border-right: none; }

.mypage__point__value {
  margin-bottom: 5px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #000; }

.mypage__point__title {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #444444; }

.mypage__mymenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid #EEF2F3; }

.mypage__mymenu__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  width: 30%; }

.mypage__mymenu__item__icon {
  display: inline-block;
  margin-bottom: 15px;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .mypage__mymenu__item__icon {
      background-image: url("../images/sprite@2x.png");
      background-size: 458px 260px; } }

.mypage__mymenu__item__title {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #444444; }

.mypage__mymenu__item__icon--order {
  width: 40px;
  height: 30px;
  background-position: -80px -100px; }

.mypage__mymenu__item__icon--likelist {
  width: 40px;
  height: 30px;
  background-position: -120px -100px; }

.mypage__mymenu__item__icon--point {
  width: 40px;
  height: 30px;
  background-position: -160px -100px; }

.mypage__mymenu__item__icon--money {
  width: 40px;
  height: 30px;
  background-position: -200px -100px; }

.mypage__mymenu__item__icon--coupon {
  width: 40px;
  height: 30px;
  background-position: -240px -100px; }

.mypage__mymenu__item__icon--mywrite {
  width: 40px;
  height: 30px;
  background-position: -280px -100px; }

.mypage__question__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0px;
  border-bottom: 1px solid #EEF2F3; }

.mypage__question__buttons .button--small--grey {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em; }

.mypage__question__buttons .button--small--grey:first-child {
  margin-left: 20px; }

.mypage__question__buttons .button--small--grey:last-child {
  margin-right: 20px; }
