@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url(../fonts/NanumSquareR.eot);
  src: url(../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumSquareR.woff) format('woff'),
       url(../fonts/NanumSquareR.ttf) format('truetype');
 }
 @font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url(../fonts/NanumSquareEB.eot);
  src: url(../fonts/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumSquareEB.woff) format('woff'),
       url(../fonts/NanumSquareEB.ttf) format('truetype');
 }

@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 400;
  src: url(../fonts/NanumBarunGothicR.eot);
  src: url(../fonts/NanumBarunGothicR.eot?#iefix) format('embedded-opentype'),
        url(../fonts/NanumBarunGothicR.woff) format('woff'),
        url(../fonts/NanumBarunGothicR.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 700;
  src: url(../fonts/NanumBarunGothicB.eot);
  src: url(../fonts/NanumBarunGothicB.eot?#iefix) format('embedded-opentype'),
        url(../fonts/NanumBarunGothicB.woff) format('woff'),
        url(../fonts/NanumBarunGothicB.ttf) format('truetype');
} 
