

$color_green: #28D899; // rgb(40, 216, 153);
$color_red: #ff7777; // rgb(255, 119, 119);
$color_yellow: #FEEB87; // rgb(254, 235, 135);
$color_palesky: #EBF6FF; // rgb(235, 246, 255);

$color_white: #fff;
$color_white5: rgba(255,255,255,0.5);
$color_white3: rgba(255,255,255,0.3);

$color_black: #000;
$color_black5: #2F2F2F; // rgb(47,47,47);
$color_black4: #444444; // rgb(68,68,68);
$color_black3: #636363; // rgb(99,99,99);
$color_black2: #979797; // rgb(151,151,151);
$color_black1: #C4C4C4; // rgb(196,196,196);

$color_grey6: #BECBD1; // rgb(190,203,209);
$color_grey5: #CED8DD; // rgb(206,216,221);
$color_grey4: #DFE5E8; // rgb(223,229,232);
$color_grey3: #EEF2F3; // rgb(238,242,243);
$color_grey2: #F5F7F8; // rgb(245,247,248);
$color_grey1: #F9FAFB; // rgb(249,250,251);