
.layer_search, 
.layer_cart, 
.layer_option,
.layer_left,
.layer_login, 
.layer_join
{
  display: none;
}

.js-search-opened .content,
.js-cart-opened .content {
  display: none;
}

.js-search-opened .layer_search,
.js-cart-opened .layer_cart,
.js-option-opened .layer_option,
.js-left-opened .layer_left,
.js-login-opened .layer_login,
.js-join-opened .layer_join {
  display: block;
}

.js-option-opened, 
.js-left-opened,
.js-login-opened {
  position: fixed;
}


section {
  @include l_section;
}

// header upper

.header__upper {
  @include l_header__upper;
}

.header__upper__menu_btn {
  @include sprites;
  @include sprites__header__upper__menu_btn;
}

.header__upper__logo {
  @include sprites;
  @include sprites__header__upper__logo;
  @include s_header__upper__logo;
}

.header__upper__search_btn {
  @include sprites;
  @include sprites__search;
}

// header nav

.header__nav__container {
  @include s_header__nav__container;
}

.header__nav {
  @include l_header__nav;
}

.header__nav a {
  @include typo_title_tiny;
  @include l_header__nav__item;
  @include s_header__nav__item;
}

.header__nav .js-active a {
  @include s_header__nav__item--active;
}


// header banner 

.main_banner {
  @include l_main_banner;
}

.swiper-container {
  @include l_swiper_container;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  @include l_swiper_pagination;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet  {
  @include l_swiper_pagination_bullet;
  @include s_swiper_pagination_bullet;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  @include s_swiper_pagination_bullet_active;
}

// category

.main_category__title {
  @include section_title;
}

.main_category__container {
  @include l_main_category__container;
}

.main_category__item {
  @include l_main_category__item;
  @include s_main_category__item;
}

.main_category__image {
  @include s_main_category__image;
}

// sale

.main_sale__title {
  @include section_title;
}


// new 

.main_new__title {
  @include section_title;
}

// banner2 

.main_banner2__container {
  @include l_main_banner2__container;
}

.main_banner2__desc__container {
  @include s_main_banner2__desc__container;
  @include l_main_banner2__desc__container;
}

.main_banner2__image__container {
  @include l_main_banner2__image__container;
}

.main_banner2__image {
  @include s_main_banner2__image;
}

.main_banner2__desc__title {
  @include typo_title_small;
  @include s_main_banner2__desc__title;
}

.main_banner2__desc__button {
  @include typo_title_smaller;
  @include l_main_banner2__desc__button;
  @include s_main_banner2__desc__button;
}


// banner 3

.main_banner3__container {
  @include l_main_banner3__container;
  @include s_main_banner3__container;
}

.main_banner3__desc__container {
  @include l_main_banner3__desc__container;
}

.main_banner3__desc__subtitle {
  @include typo_title_smaller;
  @include l_main_banner3__desc__subtitle;
}

.main_banner3__desc__title {
  @include typo_title_bold;
  @include s_main_banner3__desc__title;
}

.main_banner3__button__container {
  @include l_main_banner3__button__container;
}

.main_banner3__button {
  @include typo_title_small;
  @include s_main_banner3__button;
}


// hot

.main_hot {
  @include l_main_hot;
}


// footer

footer {
  @include l_footer;
}

.footer_nav {
  @include l_footer_nav;
  @include s_footer_nav;
}

.footer_nav__item {
  @include typo_title_smaller;
}

.footer_social {
  @include l_footer_social;
}

.footer_social__item {
  @include sprites;
  @include l_footer_social__item;
}

.footer_social__item--facebook {
  @include sprites__facebook;
}

.footer_social__item--instagram {
  @include sprites__instagram;
}

.footer_social__item--kakaotalk {
  @include sprites__kakaotalk;
}

.footer_copy {
  @include typo_title_smaller;
  @include l_footer_copy;
  @include s_footer_copy;
}


// search opened 


.layer_search__header {
  @include l_layer_search__header;
  @include s_layer_search__header;
}

.layer_search__back {
  @include sprites;
  @include sprites__back;
  @include l_layer_search__back;
}

.layer_search__input__container {
  @include l_layer_search__input__container;
  @include s_layer_search__input__container;
}

.layer_search__input {
  @include typo_content;
  @include l_layer_search__input;
}

.layer_search__input__delete {
  @include sprites;
  @include sprites__delete;
  @include l_layer_search__input__delete;
}

.layer_search__input__search {
  @include sprites;
  @include sprites__search;
  @include l_layer_search__input__search;
}

.layer_search__beforelist {
  @include l_layer_search__beforelist;
}

.layer_search__beforelist__item {
  @include l_layer_search__beforelist__item;
  @include s_layer_search__beforelist__item;
}

.layer_search__beforelist__item__text {
  @include typo_content;
  @include s_layer_search__beforelist__item__text;
}


// search result

.layer_search__result {
  display: none;
}

.layer_search__beforelist, 
.layer_search__result {
  display: none;
}

.js-search--search .layer_search__beforelist {
  display: block;
}

.js-search--result--1line .layer_search__result,
.js-search--result--2column .layer_search__result  {
  display: block;
}

.layer_search__result__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;

  background: $color_grey2;
}

.layer_search__result__view--list {
  @include sprites;
  @include sprites__view--list;

  display: inline-block;
}

.layer_search__result__view--thumb {
  @include sprites;
  @include sprites__view--thumb;
  
  display: inline-block;
  margin-left: 5px;
}


.js-search--result--1line .layer_search__result__view--list {
  background-position-y: -30px;
}

.js-search--result--2column .layer_search__result__view--thumb {
  background-position-y: -30px;
}

.ui-selectmenu-button.ui-button {
  position: relative;
  width: 88px;
  height: 30px;
  background: $color_white;
  border: none;
}

.ui-button .ui-icon {
  @include sprites;
  @include sprites__arrow--down;

  position: absolute;
  top: 50%; transform: translateY(-50%);
  right: 15px;

}

.ui-selectmenu-text {
  @include typo_content;

  position: absolute;
  top: 50%; transform: translateY(-50%);
  left: 15px;

  color: $color_black3;  
}

.ui-widget-content .ui-state-active {
  background-color: $color_green;
  border-color: $color_green;
}

.layer_left {
  position: absolute;
  top: 0; bottom: 0; left: 0;   right: 0;
  overflow-y: scroll;
  z-index: 3;
}

.layer_left__dimmed__container {
  position: relative;
}

.layer_left__content {
  position: relative;
  z-index: 3;
  width: 85%; 
  padding-bottom: 17px;

  background: $color_white;
}

.layer_left__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 100%; top: 0;
  width: 40px; height: 40px;

  background: $color_white;
}

.layer_left__close--icon {
  @include sprites;
  @include sprites__close;
  display: inline-block;
}

.layer_left__logo__container {
  padding: 20px 0 5px;
  text-align: center;
}

.layer_left__logo {
  display: inline-block;


  @include sprites;
  @include sprites__logo--image;
}

.layer_left__buttons {
  padding: 17px;

  border-bottom: 1px solid  $color_grey3;
}

.layer_left__button {
  width: 48%;
  padding: 10px 0;
}

.layer_left__menu {
  justify-content: space-around;
  align-items: center;
  padding: 17px 0;

  border-bottom: 1px solid $color_grey3;
}

.layer_left__menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layer_left__menu__item__icon {
  display: inline-block;
  margin-bottom: 10px;

  @include sprites;
}

.layer_left__menu__item__icon--mypage {
  @include sprites__person;
}

.layer_left__menu__item__icon--cart {
  @include sprites__cart--big;
}

.layer_left__menu__item__icon--order {
  @include sprites__document;
}

.layer_left__menu__item__icon--likelist {
  @include sprites__heart--big--green ;
}

.layer_left__menu__item__title {
  @include typo_title_tiny;
  color: $color_black5;
}

.layer_left__submenu__item {
  padding: 15px 15px;

  border-bottom: 1px solid $color_grey3;
}

.layer_left__submenu__item__left {
  margin: 0;
}

li:last-child .layer_left__submenu__item {
  padding-bottom: 10px;

  border-bottom: none;
}

.layer_left__submenu__item__icon {
  display: inline-block;
  margin-right: 2px;

  @include sprites;
}

.layer_left__submenu__item__icon--new {
  @include sprites__new;
}
.layer_left__submenu__item__icon--recommend {
  @include sprites__recommend;
}
.layer_left__submenu__item__icon--hot {
  @include sprites__hot;
}
.layer_left__submenu__item__icon--sale {
  @include sprites__sale;
}
.layer_left__submenu__item__icon--category {
  @include sprites__category;
}

.layer_left__submenu__item__title {
  @include typo_title_small_bold;
  color: $color_black5;
}

.layer_left__submenu__item__right {
  display: inline-block;
  @include sprites;
  @include sprites__right--big;
}

.layer_left__submenu__item__arrow.js-up {
  display: inline-block;
  @include sprites;
  @include sprites__up--big;
}

.layer_left__submenu__item__arrow.js-down {
  display: inline-block;
  @include sprites;
  @include sprites__down--big;
}

.layer_left__categories {
  padding: 0px 7px 7px;
  text-align: center;
}

.layer_left__category {
  padding: 12px;
  @include typo_title_smaller;
}

.layer_left__category:first-child {
  padding-top: 0px;
}

.layer_left_notice_buttons {
  position: relative;
  display: flex;
}

.layer_left_notice_buttons:after {
  content: '';
  position: absolute;
  top: 0; bottom: 0;
  left: 50%; transform: translateX(-50%);
  
  width: 1px;
  background: $color_grey5;
}

.layer_left_notice_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 15px 0;
  box-sizing: border-box;

  background: $color_grey2;
  @include typo_title_small_bold;
  color: $color_black4;
}


// 로그인 레이어

.layer_login {
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 3;

  background: $color_white;
}

.layer_login__before {
  margin-top: 10px;
}

.layer_login__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0 40px;
}

.layer_login__logo--image {
  display: inline-block;
  margin-bottom: 22px;

  @include sprites;
  @include sprites__logo--image;
}

.layer_login__logo--text {
  display: inline-block;
  @include sprites;
  @include sprites__header__upper__logo;
}

.layer_login__input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


