
.product_detail__summary {
  display: none;
}

.product_detail__detail {
  display: none;
}

.product_detail__review {
  display: none;
}

.product_detail__qa {
  display: none;
}

.js-content--summary .product_detail__summary {
  display: block 
}

.js-content--detail .product_detail__detail {
  display: block 
}

.js-content--review .product_detail__review {
  display: block 
}

.js-content--qa .product_detail__qa {
  display: block 
}






.product_detail {
  margin-bottom: 20px;
}

.bread_scrumbs {
  margin: 0 10px 10px;
  
  @include typo_title_smaller;
  color: $color_black2;
}

.product_detail__title {
  margin: 10px 10px 7px;
  line-height: 24px;

  @include typo_title;
}

.product_detail__row {
  margin: 3px 10px;
}

.product_detail__item__price {
  @include item__price;
}

.product_detail__item__percent {
  margin-left: 5px;

  @include item__percent;
  @include typo_content_bold;
}

.product_detail__item__saleprice {
  @include item__saleprice;
  @include typo_content_jumbo_bold;
}

.product_detail__item__share {
  margin-right: 10px;

  @include sprites;
  @include sprites__share;
}

.product_detail__item__saletime {
  margin-top: 10px;
}

.product_detail__item__saletime__title {
  @include typo_content_small;
  color: $color_black4;
}

.product_detail__item__saletime__icon {
  display: inline-block;
  margin: 0 3px;
  margin-left: 7px;

  @include sprites;
  @include sprites__clock;
}

.product_detail__item__saletime__time {
  margin-left: 5px;

  @include typo_content_small;
  color: $color_red;
}


// 제품상세쪽 메뉴 

.product_detail__menu {
  background: #F5F7F8;
}

.product_detail__menu__container {
  display: flex;
  justify-content: space-around;
}

.product_detail__menu__item {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  box-sizing: border-box;


  @include typo_title_tiny;
  color: #000;
}

.js-active.product_detail__menu__item:after  {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  height: 2px;
  background: #28D899;
}

.product_detail__row {
  padding: 10px 0;

  border-bottom: 1px solid $color_grey3;
}

.product_detail__summary .product_detail__row:last-child {
  border-bottom: none;
} 

.product_detail__icon {
  display: inline-block;

  @include sprites;
}
.product_detail__icon--price {
  @include sprites__price;
}
.product_detail__icon--coupon {
  @include sprites__coupon;
}
.product_detail__icon--summary {
  @include sprites__summary;
}
.product_detail__icon--global {
  @include sprites__global;
}
.product_detail__icon--express {
  @include sprites__express;
}


.product_detail__summary {
  margin-top: 5px;
}

.product_detail__row__container--title {
  margin-bottom: 5px;
}

.product_detail__row__container--price {
  margin-bottom: 0px;
}

.product_detail__rowtitle {
  margin-left: 2px;

  @include typo_content_small_bold;
  color: $color_black;
}

.product__price {
  @include item__price;
}

.product__salepercent {
  margin-left: 7px;

  @include item__percent;
}

.product__saleprice {
  margin-top: 2px;

  @include item__saleprice;
  @include typo_content_jumbo_bold;
}

.product__couponprice {
  @include typo_content_big_bold;
  color: $color_black;
}

.product__couponperiod {
  margin-left: 1px;
}

.product__coupondown {
  @include typo_title_smaller_bold;
  color: $color_red;
}

.product_detail__summary__paragraph {
  margin: 0 10px;
  @include lh_content_small;
}

.product_detail__icon--question {
  margin-left: 10px;

  @include sprites__question;
}

// 안내문들

.product_detail__notice {
  padding: 20px 15px;
  margin-bottom: 20px;

  background: $color_grey2;
  border-radius: 3px;
}

.product_detail__notice__title {
  margin-bottom: 15px;


  @include typo_content_small_bold;
  color: $color_black;
}

.product_detail__notice__paragraph {
  line-height: 21px;
  
  @include typo_content_tiny;

}

.product_detail__buttons__container {
  display: flex;
  justify-content: space-between;
}

.product_detail__buttons__order {
  width: 240px;
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;

  background: $color_green;
  border-radius: 3px;
}

.product_detail__buttons__order__text {
  color: $color_white;
}

.product_detail__buttons__icon {
  display: inline-block;
  @include sprites;
}

.product_detail__buttons__small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid $color_black1;
  margin-left: 20px;

  border-radius: 3px;
}

.product_detail__buttons__icon--order {
  @include sprites__cart--big;
}

.product_detail__buttons__icon--like {
  @include sprites__heart--big;
}


// 상품 상세 관련 


.product_detail__detail__image {
  margin-bottom: 30px;

  width: 100%;
}

.product_detail__detail__desc {
  text-align: center;
}

.product_detail__detail__desc__subtitle {
  margin-bottom: 10px;

 @include typo_content; 
}

.product_detail__detail__desc__title {
  @include typo_content_jumbo_bold;
  font-size: 27px;
}

.product_detail__detail__row--small {
  margin-bottom: 30px;
}

.product_detail__detail__row {
  margin-bottom: 45px;
}

.product_detail__paragraph {
  margin-bottom: 30px;

  @include typo_content_small;
  @include lh_content_small;
}

.product_detail__detail__image__container--40 {
  width: 50%;
}

.product_detail__detail__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.product_detail__detail__content__image {
  width: 100%;
}

.product_detail__detail__content__desc {
  margin-left: 30px;
}

.product_detail__detail__content__container {
  margin-bottom: 15px;
}
.product_detail__detail__content__container:last-child {
  margin-bottom: 0px;
}


.product_detail__detail__content__icon {
  display: inline-block;
  margin-right: 10px;

  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: $color_black4;
}

.product_detail__detail__content__title__container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.product_detail__detail__content__title {
  display: inline-block;

  @include typo_content;
}

.product_detail__detail__content__text {
  margin-left: 15px;

  @include typo_content_small;
}


.product_detail__detail__desc__title {
  margin-bottom: 15px;
}

.product_detail__detail__desc {
  margin-bottom: 30px;
}

.product_detail__detail__resource__desc {
  @include typo_content_small;
  @include lh_content_small;
}

.product_detail__detail__resource__desc__title {
  @include typo_content;
  @include lh_content;
}

.product_detail__detail__resource__desc--highlight {
  @include lh_content_small;
  margin-bottom: 65px;
  
  color: $color_red;
  @include typo_content_small;
}

.product_detail__detail__resource__desc--dimmed {
  margin-bottom: 20px;
  
  @include typo_content_tiny;
  @include lh_content_small;
  color: $color_black2;
}

.product_detail__detail__resource__desc__container {
  margin-bottom: 65px;
}

.product_detail__notice__paragraph--big {
  @include typo_content_small;
  @include lh_content_small;
}

.product_detail__notice__paragraph--big em {
  @include typo_content_small_bold;
}

.product_detail__table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin: 0 30px 120px;
}

.product_detail__table__item {
  width: 80%;
  padding: 15px 0;

  border-bottom: 1px solid $color_grey3;
}

.product_detail__table__title {
  display: inline-block;
  width: 100px;
  margin-right: 70px;

  @include typo_content_small;
  color: $color_black2;
}

.product_detail__table__text {
  @include typo_content_small;
  color: $color_black3;
}

// 제품상세 - 리뷰페이지 

.product_detail__review {
  margin: 10px 10px 30px;
}

.product_detail__review__list__item {
  padding: 20px 10px;
  border-bottom: 1px solid $color_grey3;
}

.product_detail__review__list__item__title {
  @include typo_content_big_bold;
}

.product_detail__review__list__item__row {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.product_detail__review__list__item__grade {
  display: flex;
  margin-right: 10px;
}

.product_detail__review__list__item__grade__item {
  @include sprites;
  @include sprites__star;
}
.product_detail__review__list__item__grade__item.js-active {
  background-position-y: -30px;
}

.product_detail__review__list__item__subdesc {
  margin-top: 4px;
  margin-right: 10px;

  @include typo_content_tiny;
  color: $color_black2;
}

.product_detail__review__list__item__paragraph {
  @include typo_content_small;
  color: $color_black;
}

.product_detail__review__pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.product_detail__review__pagination__left {
  margin-right: 20px;
  display: inline-block;
  
  @include sprites;
  @include sprites__left;
}

.product_detail__review__pagination__right {
  margin-left: 20px;
  display: inline-block;
  
  @include sprites;
  @include sprites__right;
}

.product_detail__review__pagination__pages {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.product_detail__review__pagination__pages__page {
  color: $color_black3;
}
.product_detail__review__pagination__pages__page.js-active {
  color: $color_green;
}


// qna 

.product_detail__qa {
  margin: 10px 10px 30px;
}

// related

.product_detail__related {
  margin: 40px 0px;
}


// 옵션 수량선택

.layer_option {
  position: fixed;
  z-index: 3;
  left: 0; right: 0;
  top: 0; bottom: 0;
}


.layer_option__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0; 
  width: 100%;
  z-index: 2;
}

.layer_option__content__line {
  margin-bottom: 10px;

  width: 46px;
  height: 8px;
  background: $color_grey2;
  border-radius: 3px;
}

.layer_option__content__container {
  width: 100%;
  box-sizing: border-box;

  background: $color_grey2;
}

.layer_option__content__text__container {
  padding: 20px 15px 0;
}

.layer_option__title {
  margin-bottom: 20px;

  @include typo_content_small_bold;
  color: $color_black5;
}

#layer_option__select-button {
  margin-bottom: 15px;

  width: 90%;
  border: 1px solid $color_black1;
}

.layer_option__number_updown {
  margin-bottom: 25px;
}

.number_updown {
  display: flex;
}

.number_updown__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background: $color_white;
  border: 1px solid $color_black1;
  border-radius: 3px;
  @include typo_title_jumbo_bold;
  color: $color_black3;
}

.number_updown__input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  box-sizing: border-box;
  padding: 10px 15px;

  background: $color_white;
  border: 1px solid $color_black1;
  border-radius: 3px;
  @include typo_title_small_bold;
  color: $color_black3;
}

.number_updown__text {
  @include typo_content_bold;
  color: $color_black;
}

.layer_option__buttons {
  padding: 0 10px 25px;
}

