@mixin typo_title {
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
}

@mixin typo_title_bold {
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
}

@mixin typo_title_small_bold {
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-weight: 800;
}

@mixin typo_title_tiny {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
}
@mixin typo_title_tiny_bold {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  font-weight: 800;
}

@mixin typo_content_big_bold {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: -0.05em;
  font-weight: 700;
}

@mixin typo_content {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: -0.05em;
}

@mixin typo_content_tiny {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 12px;
  letter-spacing: -0.05em;
}