.clearfix:after {
  content: "";
  display: block;
  clear: both; }

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer; }

.container {
  margin-left: 10px;
  margin-right: 10px; }

body {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: -0.05em;
  line-height: 1;
  color: #2F2F2F; }

a {
  text-decoration: none;
  color: #28D899;
  color: #2F2F2F;
  cursor: pointer; }

.hidden {
  display: none; }

.list__container {
  margin-bottom: 10px; }

.list__container--horizontal {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 5px; }

.list__item--horizontal {
  display: flex;
  margin-top: 10px; }

.list__container--wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.list__item--vertical {
  margin: 10px 0px 0 10px; }

.list__item__image__container {
  position: relative; }

.list__item__left {
  width: 50%;
  margin-right: 10px; }

.list__item__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1; }

.list__item__up {
  margin-bottom: 10px; }

.list__item__image {
  width: 100%;
  border-radius: 3px; }

.list__item__image__container--new {
  width: 60vw; }

.list__item--vertical--50 {
  width: 45vw;
  margin: 10px 0; }

.list__item__sale {
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  position: absolute;
  left: 10px;
  top: 10px;
  background: #ff7777;
  color: #fff;
  padding: 5px 6px 4px;
  box-sizing: border-box;
  border-radius: 3px; }

.list__item__title {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: -0.05em;
  margin-bottom: 7px; }

.list__item__desc {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 12px;
  letter-spacing: -0.05em;
  margin-bottom: 10px;
  color: #636363; }

.list__item__rows--wrap {
  display: flex;
  flex-wrap: wrap; }

.list__item__row_container {
  margin-bottom: 2px; }

.list__item__row_container--buttons {
  margin-top: 5px; }

.list__item__saleprice {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: -0.05em;
  font-weight: 700;
  margin-right: 5px;
  color: #000; }

.list__item__price {
  color: #979797;
  text-decoration: line-through; }

.list__item__button--basket {
  background: url(../images/sprites.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 15px;
  height: 14px;
  background-position: -50px -0px;
  margin-right: 5px;
  display: inline-block; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .list__item__button--basket {
      background-image: url("../images/sprites@2x.png");
      background-size: 392px 260px; } }

.list__item__button--like {
  background: url(../images/sprites.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 15px;
  height: 14px;
  background-position: -70px -0px;
  display: inline-block; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .list__item__button--like {
      background-image: url("../images/sprites@2x.png");
      background-size: 392px 260px; } }

.list__item__button--float {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.list__item__percent {
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #28D899; }

.list__item__tag {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  padding: 3px 4px 2px;
  box-sizing: border-box;
  border-radius: 3px;
  color: #fff; }

.list__item__tag--soldout {
  background: #C4C4C4; }

.list__item__tag--new {
  background: #28D899; }

.list__item__tag--hot {
  background: #ff7777; }

.list__more {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  font-weight: 800;
  float: right;
  color: #ff7777; }

section {
  margin-top: 20px; }

.header__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; }

.header__upper__menu_btn {
  background: url(../images/sprites.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 18px;
  height: 13px;
  background-position: -250px -60px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .header__upper__menu_btn {
      background-image: url("../images/sprites@2x.png");
      background-size: 392px 260px; } }

.header__upper__logo {
  background: url(../images/sprites.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 140px;
  height: 30px;
  background-position: 0px -140px;
  display: block; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .header__upper__logo {
      background-image: url("../images/sprites@2x.png");
      background-size: 392px 260px; } }

.header__upper__search_btn {
  background: url(../images/sprites.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 24px;
  height: 23px;
  background-position: -330px -30px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .header__upper__search_btn {
      background-image: url("../images/sprites@2x.png");
      background-size: 392px 260px; } }

.header__nav__container {
  background: #F5F7F8; }

.header__nav {
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  overflow-x: scroll; }

.header__nav a {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #000; }

.header__nav .js-active a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #28D899; }

.main_banner {
  margin: 0; }

.swiper-container {
  position: relative;
  width: 100%;
  height: 100%; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  left: 10px;
  bottom: 10px;
  text-align: left; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 3px;
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.3); }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #fff; }

.main_category__title {
  margin-top: 10px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #000; }

.main_category__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px; }

.main_category__item {
  margin-bottom: 5px;
  width: 23%;
  border-radius: 100%; }

.main_category__image {
  width: 100%; }

.main_sale__title {
  margin-top: 10px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #000; }

.main_new__title {
  margin-top: 10px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #000; }

.main_banner2 {
  margin-top: 0; }

.main_banner2__container {
  display: flex; }

.main_banner2__desc__container {
  background: #EBF6FF;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.main_banner2__image {
  width: 50%; }

.main_banner2__desc__title {
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 21px; }

.main_banner2__desc__button {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-top: 10px;
  background: #28D899;
  padding: 5px 7px 4px;
  color: #fff;
  border-radius: 3px; }

.main_banner3__container {
  display: flex;
  align-items: center;
  padding: 30px 0;
  background: #FEEB87; }

.main_banner3__desc__container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.main_banner3__desc__subtitle {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 5px; }

.main_banner3__desc__title {
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  font-size: 21px; }

.main_banner3__button__container {
  flex: 1;
  display: flex;
  justify-content: center; }

.main_banner3__button {
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  padding: 5px 7px;
  background: #ff7777;
  color: #fff;
  border-radius: 3px; }

.main_hot {
  margin-top: 30px; }
