html, body {
  width: 100%;
  height: 100%; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer; }

.container {
  margin-left: 10px;
  margin-right: 10px; }

body {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1;
  color: #2F2F2F; }

a {
  text-decoration: none;
  color: #28D899;
  color: #2F2F2F;
  cursor: pointer; }

input {
  border: none; }

input::-webkit-input-placeholder {
  color: #C4C4C4; }

input:-ms-input-placeholder {
  color: #C4C4C4; }

textarea::-webkit-input-placeholder {
  color: #C4C4C4; }

textarea:-ms-input-placeholder {
  color: #C4C4C4; }

.hidden {
  display: none; }

.list__container {
  margin-bottom: 10px; }

.list__container--horizontal {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 5px; }

.list__item--horizontal {
  display: flex;
  margin-top: 10px; }

.list__container--wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.list__item--vertical {
  margin: 10px 0px 0 10px; }

.list__item__image__container {
  position: relative; }

.list__item__left {
  width: 50%;
  margin-right: 10px; }

.list__item__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1; }

.list__item__up {
  margin-bottom: 10px; }

.list__item__image {
  width: 100%;
  border-radius: 3px; }

.list__item__image__container--new {
  width: 60vw; }

.list__item--vertical--50 {
  width: 45vw;
  margin: 10px 0; }

.list__item__sale {
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  position: absolute;
  left: 10px;
  top: 10px;
  background: #ff7777;
  color: #fff;
  padding: 5px 6px 4px;
  box-sizing: border-box;
  border-radius: 3px; }

.list__item__title {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  margin-bottom: 7px; }

.list__item__desc {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 12px;
  letter-spacing: -0.05em;
  margin-bottom: 10px;
  color: #636363; }

.list__item__rows--wrap {
  display: flex;
  flex-wrap: wrap; }

.list__item__row_container {
  margin-bottom: 2px; }

.list__item__row_container--buttons {
  margin-top: 5px; }

.list__item__saleprice {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: -0.05em;
  font-weight: 700;
  margin-right: 5px;
  color: #000; }

.list__item__price {
  color: #979797;
  text-decoration: line-through; }

.list__item__button--basket {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 15px;
  height: 14px;
  background-position: -50px -0px;
  margin-right: 5px;
  display: inline-block; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .list__item__button--basket {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.list__item__button--like {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 15px;
  height: 14px;
  background-position: -70px -0px;
  display: inline-block; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .list__item__button--like {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.list__item__button--float {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.list__item__percent {
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #28D899; }

.list__item__tag {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  padding: 3px 4px 2px;
  box-sizing: border-box;
  border-radius: 3px;
  color: #fff; }

.list__item__tag--soldout {
  background: #C4C4C4; }

.list__item__tag--new {
  background: #28D899; }

.list__item__tag--hot {
  background: #ff7777; }

.list__more {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  font-weight: 800;
  float: right;
  color: #ff7777; }

.list__item__row_container--between {
  display: flex;
  justify-content: space-between; }

.js-search--result--1line .list__container {
  margin-bottom: 0px; }

.js-search--result--1line .list__item {
  display: flex;
  margin-top: 10px;
  margin-top: 0px;
  padding: 20px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #EEF2F3; }

.js-search--result--1line .list__item__image__container {
  width: 30%; }

.js-search--result--2column .list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px; }

.js-search--result--2column .list__item {
  margin: 10px 0px 0 10px;
  width: 45vw;
  margin: 10px 0; }

.js-search--result--2column .list__item__image__container {
  width: 100%;
  margin-bottom: 10px; }

.js-search--result--2column .list__item__buttons {
  order: 2; }

.js-search--result--2column .list__item__price__container {
  order: 1; }

.row {
  display: flex;
  align-items: center;
  margin: 0 10px 5px; }

.row--between {
  display: flex;
  justify-content: space-between; }

section {
  margin-top: 20px; }

.header__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; }

.header__upper__menu_btn {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 18px;
  height: 13px;
  background-position: -250px -60px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .header__upper__menu_btn {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.header__upper__logo {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 140px;
  height: 30px;
  background-position: 0px -140px;
  display: block; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .header__upper__logo {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.header__upper__search_btn {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 24px;
  height: 23px;
  background-position: -330px -30px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .header__upper__search_btn {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.header__nav__container {
  background: #F5F7F8; }

.header__nav {
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  overflow-x: scroll; }

.header__nav a {
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #000; }

.header__nav .js-active a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #28D899; }

.main_banner {
  margin: 0; }

.swiper-container {
  position: relative;
  width: 100%;
  height: 100%; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  left: 10px;
  bottom: 10px;
  text-align: left; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 3px;
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.3); }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #fff; }

.main_category__title {
  margin-top: 10px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #000; }

.main_category__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px; }

.main_category__item {
  margin-bottom: 5px;
  width: 23%;
  border-radius: 100%; }

.main_category__image {
  width: 100%; }

.main_sale__title {
  margin-top: 10px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #000; }

.main_new__title {
  margin-top: 10px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #000; }

.main_banner2__container {
  display: flex; }

.main_banner2__desc__container {
  background: #EBF6FF;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.main_banner2__image__container {
  width: 50%; }

.main_banner2__image {
  width: 100%; }

.main_banner2__desc__title {
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 21px; }

.main_banner2__desc__button {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-top: 10px;
  background: #28D899;
  padding: 5px 7px 4px;
  color: #fff;
  border-radius: 3px; }

.main_banner3__container {
  display: flex;
  align-items: center;
  padding: 30px 0;
  background: #FEEB87; }

.main_banner3__desc__container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.main_banner3__desc__subtitle {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 5px; }

.main_banner3__desc__title {
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  font-size: 21px; }

.main_banner3__button__container {
  flex: 1;
  display: flex;
  justify-content: center; }

.main_banner3__button {
  font-family: 'NanumSquare', sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  padding: 5px 7px;
  background: #ff7777;
  color: #fff;
  border-radius: 3px; }

.main_hot {
  margin-top: 30px; }

footer {
  margin-top: 30px; }

.footer_nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  border-top: #28D899 1px solid;
  border-bottom: #28D899 1px solid; }

.footer_nav__item {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em; }

.footer_social {
  display: flex;
  justify-content: center; }

.footer_social__item {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  display: inline-block;
  margin: 25px 10px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .footer_social__item {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.footer_social__item--facebook {
  width: 40px;
  height: 40px;
  background-position: -0px -60px; }

.footer_social__item--instagram {
  width: 40px;
  height: 40px;
  background-position: -40px -60px; }

.footer_social__item--kakaotalk {
  width: 40px;
  height: 40px;
  background-position: -80px -60px; }

.footer_copy {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border-top: #C4C4C4 1px solid;
  color: #636363; }

.layer_search {
  display: none; }

.js-search-opened .content {
  display: none; }

.js-search-opened .layer_search {
  display: block; }

.layer_search__header {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  width: 100%;
  box-sizing: border-box;
  background: #28D899; }

.layer_search__back {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 24px;
  height: 21px;
  background-position: -280px -60px;
  margin-right: 15px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_search__back {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.layer_search__input__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 80%;
  width: 90%;
  flex: 1;
  border-radius: 3px;
  background: #fff;
  height: 42px;
  padding: 8px 10px 8px 15px;
  box-sizing: border-box; }

.layer_search__input {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  width: 80%;
  flex: 1;
  height: 24px;
  line-height: 24px; }

.layer_search__input__delete {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 16px;
  height: 16px;
  background-position: -110px -0px;
  margin-left: 10px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_search__input__delete {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.layer_search__input__search {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 24px;
  height: 23px;
  background-position: -330px -30px;
  margin-left: 10px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_search__input__search {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.layer_search__beforelist {
  margin: 0 15px; }

.layer_search__beforelist__item {
  padding: 20px 15px;
  border-bottom: 1px solid #DFE5E8; }

.layer_search__beforelist__item__text {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  color: #636363; }

.layer_search__result {
  display: none; }

.layer_search__beforelist,
.layer_search__result {
  display: none; }

.js-search--search .layer_search__beforelist {
  display: block; }

.js-search--result--1line .layer_search__result,
.js-search--result--2column .layer_search__result {
  display: block; }

.layer_search__result__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  background: #F5F7F8; }

.layer_search__result__view--list {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 25px;
  height: 20px;
  background-position: -270px -0px;
  display: inline-block; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_search__result__view--list {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.layer_search__result__view--thumb {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 25px;
  height: 20px;
  background-position: -300px -0px;
  display: inline-block;
  margin-left: 5px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .layer_search__result__view--thumb {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.js-search--result--1line .layer_search__result__view--list {
  background-position-y: -30px; }

.js-search--result--2column .layer_search__result__view--thumb {
  background-position-y: -30px; }

.ui-selectmenu-button.ui-button {
  position: relative;
  width: 88px;
  height: 30px;
  background: #fff;
  border: none; }

.ui-button .ui-icon {
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 12px;
  height: 7px;
  background-position: -380px -0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .ui-button .ui-icon {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.ui-selectmenu-text {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #636363; }

.ui-widget-content .ui-state-active {
  background-color: #28D899;
  border-color: #28D899; }

.product_detail__summary {
  display: none; }

.product_detail__detail {
  display: none; }

.product_detail__review {
  display: none; }

.product_detail__qa {
  display: none; }

.js-content--summary .product_detail__summary {
  display: block; }

.js-content--detail .product_detail__detail {
  display: block; }

.js-content--review .product_detail__review {
  display: block; }

.js-content--qa .product_detail__qa {
  display: block; }

.product_detail {
  margin-bottom: 20px; }

.bread_scrumbs {
  margin: 0 10px 10px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #979797; }

.product_detail__title {
  margin: 10px 10px 7px;
  line-height: 24px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em; }

.product_detail__row {
  margin: 3px 10px; }

.product_detail__item__price {
  color: #979797;
  text-decoration: line-through; }

.product_detail__item__percent {
  margin-left: 5px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #28D899;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 16px;
  letter-spacing: 0em;
  font-weight: 700; }

.product_detail__item__saleprice {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: -0.05em;
  font-weight: 700;
  color: #000;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 21px;
  letter-spacing: 0em;
  font-weight: 700; }

.product_detail__item__share {
  margin-right: 10px;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 19px;
  height: 20px;
  background-position: -170px -20px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .product_detail__item__share {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.product_detail__item__saletime {
  margin-top: 10px; }

.product_detail__item__saletime__title {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #444444; }

.product_detail__item__saletime__icon {
  display: inline-block;
  margin: 0 3px;
  margin-left: 7px;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none;
  width: 16px;
  height: 16px;
  background-position: -150px -20px; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .product_detail__item__saletime__icon {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.product_detail__item__saletime__time {
  margin-left: 5px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #ff7777; }

.product_detail__menu {
  background: #F5F7F8; }

.product_detail__menu__container {
  display: flex;
  justify-content: space-around; }

.product_detail__menu__item {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  box-sizing: border-box;
  font-family: 'NanumSquare', sans-serif;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #000; }

.js-active.product_detail__menu__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #28D899; }

.product_detail__row {
  padding: 10px 0;
  border-bottom: 1px solid #EEF2F3; }

.product_detail__icon {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .product_detail__icon {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.product_detail__icon--price {
  width: 20px;
  height: 20px;
  background-position: -50px -20px; }

.product_detail__icon--coupon {
  width: 20px;
  height: 20px;
  background-position: -70px -20px; }

.product_detail__icon--summary {
  width: 20px;
  height: 20px;
  background-position: -90px -20px; }

.product_detail__icon--global {
  width: 20px;
  height: 20px;
  background-position: -110px -20px; }

.product_detail__icon--express {
  width: 20px;
  height: 20px;
  background-position: -130px -20px; }

.product_detail__summary {
  margin-top: 5px; }

.product_detail__row__container--title {
  margin-bottom: 5px; }

.product_detail__row__container--price {
  margin-bottom: 0px; }

.product_detail__rowtitle {
  margin-left: 2px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #000; }

.product__price {
  color: #979797;
  text-decoration: line-through; }

.product__salepercent {
  margin-left: 7px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 18px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #28D899; }

.product__saleprice {
  margin-top: 2px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: -0.05em;
  font-weight: 700;
  color: #000;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 21px;
  letter-spacing: 0em;
  font-weight: 700; }

.product__couponprice {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 19px;
  letter-spacing: -0.05em;
  font-weight: 700;
  color: #000; }

.product__couponperiod {
  margin-left: 1px; }

.product__coupondown {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 800;
  color: #ff7777; }

.product_detail__paragraph {
  margin: 0 10px; }

.product_detail__icon--question {
  margin-left: 10px;
  width: 16px;
  height: 16px;
  background-position: -130px -0px; }

.product_detail__notice {
  padding: 20px 15px;
  margin-bottom: 20px;
  background: #F5F7F8;
  border-radius: 3px; }

.product_detail__notice__title {
  margin-bottom: 15px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #000; }

.product_detail__notice__paragraph {
  line-height: 21px;
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: 12px;
  letter-spacing: -0.05em; }

.product_detail__buttons__container {
  display: flex;
  justify-content: space-between; }

.product_detail__buttons__order {
  width: 240px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background: #28D899;
  border-radius: 3px; }

.product_detail__buttons__order__text {
  color: #fff; }

.product_detail__buttons__icon {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  text-indent: -9999em;
  outline: none; }
  @media all and (-webkit-min-device-pixel-ratio: 2) {
    .product_detail__buttons__icon {
      background-image: url("../images/sprite@2x.png");
      background-size: 392px 260px; } }

.product_detail__buttons__small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #C4C4C4;
  margin-left: 20px;
  border-radius: 3px; }

.product_detail__buttons__icon--order {
  width: 40px;
  height: 30px;
  background-position: -40px -100px; }

.product_detail__buttons__icon--like {
  width: 32px;
  height: 30px;
  background-position: -210px -60px; }
